@import url(slider.css);

/* Estilo general */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--background);
    color: #333;
}

.navbar{
    padding: 0;
}

.navbar.scrolled {
    background-color: var(--background);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.under:hover{
    text-decoration: none;
}

/* ul a:visited, ul a:link {
    color: #f3f3f3;
} ver el tema que me hace invisible los icons del navbar*/

.titulo a{
    text-decoration: none;
}

.breadcrumb li a{
    text-decoration: none;
}

/* Categorías */
.categoria-lista {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
}

/* botón Filtrar */
button.filtrar {
    background-color: #007bff;
    color: #fff; 
    border: 1px solid #007bff; 
    padding: 10px 20px; 
    border-radius: 5px; 
    cursor: pointer; 
}

button.filtrar:hover {
    background-color: #0056b3;
    border-color: #0056b3; 
}

#precio_range {
    width: 75%;
}

/* Últimos Productos */
.card {
    margin-bottom: 20px;
}

/* Todos los Productos */
.single-product {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.product-img img {
    width: 100%;
    border-bottom: 1px solid #ddd;
}

.product-content {
    padding: 20px;
}

.pagination {
    margin: 20px 0;
}

/* Carrito de Compras */
btn-disminuir {
    width: 20px;
    height: 20px;
}



/* Efectos */

.zoom-effect {
    transition: background-size .2s ease-in-out;
}

.zoom-effect:hover{
    background-size: 110%;
}


/*Footer */
.footer {
    background-color: #343a40;
    color: #fff;
}

.footer p {
    font-size: 14px;
    color: #a0a0a0;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact li {
    margin-bottom: 10px;
}

.contact a {
    color: #fff;
    margin-right: 10px;
}

.copyright {
    padding-top: 20px;
    border-top: 1px solid #565656;
}

.copyright p {
    font-size: 12px;
    color: #a0a0a0;
}

.copyright a {
    color: #fff;
    font-weight: bold;
}